[submodule "crawler"]
	path = crawler
	url = https://github.com/FunnyMartin/crawler.git
[submodule "library"]
	path = library
	url = https://github.com/FunnyMartin/library
[submodule "bank"]
	path = bank
	url = https://github.com/FunnyMartin/bank.git
